[Unit]
Description=VEXUSCLAW Docker Compose Stack
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=__VEXUS_WORKDIR__
ExecStart=/usr/bin/docker compose --env-file __VEXUS_WORKDIR__/.env -f __VEXUS_WORKDIR__/infra/docker/docker-compose.yml up -d
ExecStop=/usr/bin/docker compose --env-file __VEXUS_WORKDIR__/.env -f __VEXUS_WORKDIR__/infra/docker/docker-compose.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
